.contain-modal{
    max-height: 650px;
    overflow-y: scroll;
    .p-3{
        input::placeholder{
            opacity: 0.4;
        }
    }
}

.swiper-creative{
    .swiper-button-next{
        display: none;      
    }
    .swiper-button-prev{
        display: none;      
    }
    .swiper-pagination{
        .swiper-pagination-bullet-active{
            background: #961921;            
        }
    }
}

.contain-product{
    .img-box{
        img{
            width: 50px;
        }
    }

}