body{
    font-family: "Open Sans", sans-serif;
    

}
// @font-face {
//     font-family: 'Poppins';
// }
.Vue-Toastification__toast-body{
    color: #ffffff;
}
.chef{
    .box-help{
        z-index: 50;
        .image-chef{
            width: 100px;
        }
        .text{
            background: #fff;
            height: 100%;
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: rgb(0 0 0 / 12%) 0px 12px 20px;
            width: 200px;
            font-size: 0.75rem;
            p{
                color: #1e212c;
            }
        }
    }
}
#category_product{
    .box-title-products{
        .title{
            color: rgb(39, 39, 42);
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            padding-left: 1rem;
            padding-top: 1rem;
        }
    }
    background-color: #f1f3f9;
    .section-product{
        padding: 1rem 0rem 3rem 0rem;
        gap: 2.5rem;
        .section-box-title{
            background-color: #17696a;
            padding: 2rem;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            align-items: center;
            margin-bottom: 3rem;
            margin-top: 1rem;
            .title-category{
                font-size: 2rem;
                font-weight: 600;
                color: #ffffff;
            }
            p{
                color: #ffffff;
                font-weight: 300;
            }
        }
        .category-product-list{
            margin-bottom: 2.5rem;
            .box-title-sub-show{
                margin-bottom: 1rem;
                display: flex;
                justify-content: space-between;
                .title-subcategory{
                    font-size: 1.25rem;
                    font-weight: 600;
                    color: #17696a;
                }
                .button-show{
                    background-color: #17696a;
                    color: #ffffff;
                    padding-left: 1rem;
                    padding-right: 1rem;
                    padding-top: 0.5rem;
                    padding-bottom: 0.5rem;
                    border: 1px solid transparent;
                    border-radius: 0.375rem;
                    text-transform: uppercase;
                    font-size: 0.875rem;
                    line-height: 1rem;
                    &:hover{
                        background-color: #368788;
                    }
                }
            }
            .splide{
                padding: initial;
                .splide__slide{
                    padding-right: 20px;

                }
                .splide__arrows{
                    .splide__arrow--prev{
                        margin-left: -50px;
                        width: 1.25rem;
                    }
                    .splide__arrow--next{
                        margin-right: -50px;
                        width: 1.25rem;
                    }
                    svg{
                        fill: #17696a;
                    }
                }
                .splide__track{
                    padding-bottom: 1.5rem;
                }
                .splide__pagination{
                    position: initial;
                    .is-active{
                        background: #17696a;
                    }
                }
                .splide__pagination__page{
                    &:hover{
                        background: #368788;
                    }
                }
            }
            .carousel{
                .carousel__viewport{
                    margin-bottom: 2rem;
                    .carousel__slide{
                        padding-right: 20px;
                    }
                }
                .carousel__prev{
                    margin-left: -40px;
                }
                .carousel__next{
                    margin-right: -40px;
                }
            }
            .carousel__item{
                flex-direction: column;
                gap: 1.5rem;
                height: 410px;
                padding: 1rem 0.875rem;
                width: 100%;
                color: #fff;
                font-size: 20px;
                border-radius: 8px;
                display: flex;
                justify-content: space-between;
                // align-items: center;
                position: relative;
                overflow: hidden;

                border: 1px solid #d1d2d4;
                background: #ffffff;
                cursor: pointer;

                &:hover{
                    box-shadow: rgb(0 0 0 / 12%) 0px 12px 20px;
                    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                    will-change: transform;
                }
                .section-data{
                    // padding: 10px 14px 12px 14px;
                    .button-show{
                        display: flex;
                        justify-content: center;
                        background-color: #17696a;
                        color: #ffffff;
                        padding-left: 1rem;
                        padding-right: 1rem;
                        padding-top: 0.5rem;
                        padding-bottom: 0.5rem;
                        border: 1px solid transparent;
                        border-radius: 0.375rem;
                        text-transform: uppercase;
                        font-size: 0.75rem;
                        line-height: 1rem;

                        &:hover{
                            background-color: #368788;
                        }
                    }
                }

                .product-name{
                    font-size: 1rem;
                    color: #1e212c;
                    text-align: left;
                    font-weight: 500;
                    height: 48px;
                }
                .product-price{
                    font-size: 1rem;
                    color: #1e212c;
                    margin-top: 0.5rem;
                    margin-bottom: 0.5rem;
                    text-align: left;
                }
                &:hover{
                    .product-name{
                        color: #17696a;
                    }
                }
                .img-product{
                    width: 253px;
                    height: 225px;
                    object-fit: cover;
                    background: white;
                    border-radius: 0.7rem;
                    &:hover{

                        // transform: scale(1.08);
                        // border-radius: 0.7rem;

                        // transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
                        // will-change: transform;
                    }
                }
            }
            .carousel__pagination{
                .carousel__pagination-item{
                    .carousel__pagination-button{
                        &::before{
                            width: 1.875rem;
                            height: 0.1875rem;

                        }
                        &:hover{
                            &::after{
                                background-color: #17696a;

                            }
                        }
                        &::after{
                            width: 1.875rem;
                            height: 0.1875rem;

                        }

                    }
                    .carousel__pagination-button--active{
                        &::after{
                            background-color: #17696a;

                        }
                    }
                }
            }
        }
    }

    .list-documents{
        padding-bottom: 3rem;
        .section-title{
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: initial;
            display: flex;
            .box-filter{
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                .search-ads{
                    .control{
                        box-sizing: border-box;
                        clear: both;
                        font-size: 1rem;
                        position: relative;
                        text-align: left;
                        .input{
                            width: 100%;
                            border-radius: 8px;
                            padding-left: 2.5em;
                        }
                        .input::placeholder{
                            color: #b3bacc;
                        }
                        .icon{
                            color: #dbdbdb;
                            height: 2.5em;
                            pointer-events: none;
                            position: absolute;
                            top: 0;
                            width: 2.5em;
                            left: 0;
                            z-index: unset !important;
                            align-items: center;
                            display: inline-flex;
                            justify-content: center;
                        }
                    }
                }
            }
            .box-select-filter{
                .select-category{
                    width: 325px;
                    height: 2.5rem;
                }
            }
            .title-subtitle{
                margin-bottom: 1rem;
                span{
                    font-size: 1.5rem;
                    color: #333;
                    font-weight: 500;
                }
            }
        }
        .pagination{
            justify-content: center;
            margin-top: 2rem;
            flex-direction: column;
            align-items: center;
            .contain-number{
                display: flex;
                align-items: center;
                gap: 1rem;
                .number-page{
                    margin-bottom: 0rem;
                    .page-link{
                        padding: 0 0.5rem;
                    }
                    &.active-div{
                        background-color: #961921;
                        border-radius: 0.2rem;
                        .page-link{
                            color: #ffffff;
                            padding: 0 0.5rem;
                        }
                    }

                    &:hover{
                        background-color: #c52933;
                        border-radius: 0.2rem;
                        .page-link{
                            color: #ffffff;
                            padding: 0 0.5rem;
                        }
                    }

                }
                .button-left{
                    margin-right: 0.2rem;
                    &.disabled-button{
                        opacity: 0.7;
                        cursor: not-allowed;
                    }
                }
                .button-rigth{
                    margin-left: 0.2rem;
                    &.disabled-button{
                        opacity: 0.7;
                        cursor: not-allowed;
                    }
                }
            }
        }
        .title-category{
            color: rgb(39, 39, 42);
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 1rem;
            padding-left: 1rem;
        }
        .box-documents{
            align-items: flex-start;
            display: flex;
            flex-wrap: wrap;
            padding: 0px 8px;
            position: relative;
            width: 100%;
            gap: 0.5rem;

            .document-item{
                flex-direction: column;
                display: flex;
                border-radius: 1rem;
                gap: 1.25rem;
                margin: 0.5rem;
                flex: 1 0 calc(100% - 16px);
                overflow-wrap: break-word;
                position: relative;
                padding: 0.5rem 0rem;
                .title-item{
                    font-size: 1rem;
                    font-weight: 600;


                }
                .title-price{
                    color:#961921;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.45;
                }
                &:hover{
                    
                    .title-item{
                        color: #961921;
                        font-weight: 600;
                        transition: color 0.35s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out, font-weight 0.20s ease-in-out;
                    }
                }
                &:active{
                    border: 1px solid #961921;
                    transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out;

                }
                .box-data-document{
                    display: flex;
                    gap: 0rem;
                    .box-img-data{
                        display: flex;
                        flex-direction: column;
                        cursor: pointer;
                        gap: 0.5rem;
                        .img-preview{
                            height: 120px;
                            width: 128px;
                            min-height: 120px;

                            background: rgb(255, 255, 255);
                            box-shadow: rgba(0, 0, 0, 0.12) 0px 12px 20px;
                            border-radius: 1rem;
                        }
                    }
                    .box-price{
                        display: none;
                    }
                    .title-item{
                        color: #144220;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 24px;
                    }
                    .title-desription{
                        color: rgb(82, 82, 91);
                        font-size: 0.75rem;
                        font-weight: 400;
                        line-height: 16px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .data-product{
                        display: flex;
                        flex-direction: column;
                        gap: 0.625rem;
                        text-align: center;
                        width: 50%;
                        .box-data-general{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            -webkit-box-flex: 1;
                            flex-grow: 1;
                            -webkit-box-pack: center;
                            margin-left: 0px;
                            justify-content: center;
                            .title-item{
                                color: #144220;
                                font-weight: 600;
                                line-height: 24px;
                                font-size: 1rem;
                                cursor: pointer;
                            }
                        }
                        .box-button-general{
                            -webkit-box-align: center;
                            align-items: center;
                            bottom: 0px;
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            right: 8px;
                            z-index: 4;
                            .box-button-more{
                                .button-show{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
                                    transition-timing-function: cubic-bezier(.4,0,.2,1);
                                    transition-duration: .15s;
                                    width: 2.3rem;
                                    height: 2.3rem;
                                    padding: 0rem;
                                    font-size: 1rem;
                                    line-height: 1.5rem;
                                    border-radius: 28px;

                                    
                                    background-color: #961921;
                                    color: #ffffff;
                                    
                                    border: 1px solid transparent;
                                    text-transform: uppercase;
                                    img{
                                        width: 20px;
                                    }
                                    &:hover{
                                        background-color: #c5303a;
                                    }
                                }
                            }
                        }
                    }
                    
                    .img-preview{
                        min-height: 200px;
                        height: 200px;
                        object-fit: cover;
                        border-radius: 0.25rem;
                    }
                    .image-container{
                        background-color: rgb(204, 204, 204);
                        display: flex;
                        justify-content: center;
                    }
                }
            }
        }
        .document-list-searched{
            height: 385px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .box-document-empty{
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

@media (max-width: 767.98px) {
    #category_product{
        .list-documents{
            .box-documents{
                .document-item{
                    margin: 0px;
                    max-width: unset;
                    margin-bottom: 1px;
                }
            }
        }
    }
}


@media (min-width: 576px) {
    #category_product{
        .list-documents{
            .box-documents{
                .document-item{
                    flex-basis: calc(50% - 16px);
                    max-width: calc(50% - 4px);
                    min-width: calc(8.33333% - 16px);
                    margin-bottom: 1px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .chef{
        .box-help{
            .image-chef{
                width: 170px;
            }
            .text{
                width: 220px;
                font-size: 0.875rem;
            }
        }
    }
    #category_product{
        .list-documents{
            .section-title{
                flex-direction: row;
                .title-subtitle{
                    margin-bottom: initial;
                }
                .box-filter{
                    flex-direction: row;
                    .search-ads{
                        .control{
                            .input{
                                width: 360px;
                            }
                        }
                    }
                }
            }
            .box-documents{
                gap: initial;
                .document-item{
                    flex-basis: calc(50% - 16px);
                    max-width: calc(50% - 16px);
                    min-width: calc(8.33333% - 16px);
                    padding: 0.6rem;

                    background: rgb(255, 255, 255);
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 12px 20px;
                    border-radius: 1rem;
                    .box-data-document{
                        gap: 0.625rem;

                        .title-price{
                            display: none;
                            // font-size: 1rem;
                            // font-weight: 600;
                            font-size: 1.25rem;
                            font-weight: 500;
                        }
                        .title-desription{
                            font-size: 0.875rem;
                        }
                        .box-img-data{
                            .img-preview{
                                height: 120px;
                                width: 128px;
                                min-height: 120px;

                                background: initial;
                                box-shadow: initial;
                                border-radius: initial;
                            }
                        }
                        .data-product{
                            width: initial;
                            flex: 1 1 0%;
                            .title-price{
                                display: none;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                            .box-data-general{
                                justify-content: start;
                                margin-left: 16px;
                                .title-item{
                                    font-size: 18px;
                                }
                                .title-price{
                                    display: block;
                                }
                            }
                        }
                    }
                    .title-item{
                        margin-bottom: 0.45rem;
                    }

                }
            }
        }
    }
}

@media (min-width: 992px) {
    #category_product{
        .list-documents{
            .box-documents{
                .document-item{
                    flex-basis: calc(25% - 16px);
                    max-width: calc(25% - 16px);
                    min-width: calc(8.33333% - 16px);
                    height: 365px;
                    position: relative;

                    .box-data-document{
                        flex-direction: column;
                        height: 100%;
                        .title-price{
                            display: block;
                        }
                        .box-price{
                            margin-top: auto;
                            visibility: visible;
                            display: flex;
                            justify-content: space-between;
                            padding: 0rem 1rem;
                            align-items: flex-end;
                            .title-price{
                                margin-top: 1.6rem;
                                font-size: 20px;
                                font-weight: 600;
                                line-height: 28px;
                            }
                            .button-buy{
                                padding: 0.5rem 0.8rem;
                                height: 1.6rem;
                                display: flex;
                                align-items: center;
                                border-radius: 1rem;
                                font-size: 0.875rem;
                                font-weight: 600;
                                border: 1px solid #a4a5a7;
                                &:hover{
                                    color: #961921;
                                    border: 1px solid #961921;
                                }

                            }
                        }
                        .box-img-data{
                            .img-preview{
                                min-height: 200px;
                                height: 200px;
                                width: initial;
                            }
                        }
                        .data-product{
                            .box-button-general{
                                bottom: 25%;
                                /* top: 0px; */
                                right: 8px;
                            }
                            .box-data-general{
                                margin-left: 0rem;
                                .title-price{
                                    display: none;
                                }
                                .title-item{
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    #category_product{
        .list-documents{
            .box-documents{
                .document-item{
                    flex-basis: calc(20% - 16px);
                    max-width: calc(20% - 16px);
                    min-width: calc(8.33333% - 16px);
                    height: 365px;
                    position: relative;

                    .box-data-document{
                        .data-product{
                            .box-data-general{
                                .title-item{
                                    width: 75%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}