// * ================================================= WHITESPACE ================================================= * //
$whitespaces: (
    whitespace-normal: normal,
    whitespace-nowrap: nowrap,
    whitespace-pre: pre,
    whitespace-pre-line: pre-line,
    whitespace-pre-wrap: pre-wrap,
);

@each $className,
$whitespace in $whitespaces {
    .#{$className} {
        white-space: $whitespace !important;
    }
}